.contentcard{
    border-radius: 20px;
    padding: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: var(--main-color2);
    width: 220px;
    font-weight: 400;
    transform: translateY 0.5;
}

.contentcard:hover{
    transform: translateY(-10px);
}
.contentcard .coeur img{
    width: 29px;
}
.contentcard .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentcard .img img{
    width: 121px;
}
.contentcard .fav{
    display: flex;
    gap: 66px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.contentcard .fav .coeur:hover{
    cursor: pointer;
}
.contentcard .fav .ism{
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: var(--main-maincolor);
}
.contentcard .coast{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 19px;
}
.contentcard .likea{
    background-color: var(--main-color1);
    width: 101px;
    height: 33px;
    border: 0;
    border-radius: 11px;
    color: white;
}