

.profils {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.profils .profills_cards {
    display: flex;
    flex-direction: column;
    gap: 30px;  
}

.profils .profills_cards a {
    text-decoration: none;
}
.profills_card {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.profills_cards h1 {
    text-transform: capitalize;
    font-size: 30px;
    margin-left: 50px;
}

.profils .profils_recherche {
    display: flex;
    flex-direction: column;
    gap: 30px;    
}
.profils_recherche h1 {
    text-transform: capitalize;
    font-size: 30px;
    margin-left: 50px;
}

/* ########################################################################## */


.profilcontainer {
    background-color: #1E1E1E;
    height: fit-content;
    width: 90%;
    display: flex
;
    flex-direction: column;
    /* padding: 0px 33px; */
    gap: 65px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: 100px;
}
.profilcontainer .profilehaut{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 77px;
}
.bascontainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bascontainer .bas {
    width: 95%;
    /* background: rgba(60, 61, 61, 0.70); */
    display: flex
;
    flex-direction: column;
    min-height: 501px;
    padding: 16px 34px;
    border-radius: 16px;
    align-items: center;
}
.bascontainer .bas .titles{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 44px;

}
.bascontainer .bas .titles button{
    background: transparent;
    border: 0px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.bas hr{
    width: 91px;
   
}
.transition-hr {
    transition: transform 1s ease; /* Adjust the duration and timing function as needed */
  }
.content{
    width: 100%;
}

@media (max-width : 511px) {
    .bascontainer .bas {
        width: 86%;
    }
   
    
}
@media (max-width : 735px) {
    .bas hr{
        display: none;
    }
}
/* recherche */

.inputs{
    display: flex;
    align-items: center;
    gap: 38px;        
    padding: 0 85px;

}
.nom{
    display: flex;
}
.underNom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-secondcolor);
    color: white;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    z-index: 1;
    width: 50px;
}
.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-secondcolor);
    color: white;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
    z-index: 1;
    width: 90px;
}

.metier {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-secondcolor);
    color: white;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
    z-index: 1;
    width: 60px;
}

.nom input .metiers-dropdown {
    background-color: var(--main-color2);
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: var(--main-secondcolor);
    width: 150px; /* Set a consistent width for inputs */
    max-width: 100%; /* Prevent overflow */
    box-sizing: border-box; /* Include padding and border in width */
}

.metiers-dropdown {
    cursor: pointer;
    appearance: none;
    cursor: pointer;
    padding: 5px 10px;
    appearance: none;
    background-color: var(--main-color2);
    border: 2px solid;
    border-color: rgb(118, 118, 118);
    border-radius: 0 5px 5px 0;
    border-left: none;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-secondcolor);
    color: white;
    padding: 8px; 
    cursor: pointer;
    border-radius: 4px; 
    font-weight: bold;
    width: 110px;
}
