

.profils {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.profils .profills_cards {
    display: flex;
    flex-direction: column;
    gap: 30px;  
}

.profils .profills_cards a {
    text-decoration: none;
}
.profills_card {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.profills_cards h1 {
    text-transform: capitalize;
    font-size: 30px;
    margin-left: 50px;
}

.profils .profils_recherche {
    display: flex;
    flex-direction: column;
    gap: 30px;    
}
.profils_recherche h1 {
    text-transform: capitalize;
    font-size: 30px;
    margin-left: 50px;
}

/* ########################################################################## */


.profilcontainer {
    background-color: #1E1E1E;
    height: fit-content;
    width: 90%;
    display: flex
;
    flex-direction: column;
    /* padding: 0px 33px; */
    gap: 65px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: 100px;
}
.profilcontainer .profilehaut{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 77px;
}
.bascontainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bascontainer .bas {
    width: 95%;
    /* background: rgba(60, 61, 61, 0.70); */
    display: flex
;
    flex-direction: column;
    min-height: 501px;
    padding: 16px 34px;
    border-radius: 16px;
    align-items: center;
}
.bascontainer .bas .titles{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 44px;

}
.bascontainer .bas .titles button{
    background: transparent;
    border: 0px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.bas hr{
    width: 91px;
   
}
.transition-hr {
    transition: transform 1s ease; /* Adjust the duration and timing function as needed */
  }
.content{
    width: 100%;
}

@media (max-width : 511px) {
    .bascontainer .bas {
        width: 86%;
    }
   
    
}
@media (max-width : 735px) {
    .bas hr{
        display: none;
    }
}