.offerCardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
    width: 244px;
    height: 265px;
    background-color: var(--main-color2);
    color: var(--main-secondcolor);
    text-align: center;
    gap: 18px;
    border-radius: 5px;
    cursor: pointer;
    transform: translateY 0.5;
}
.offerCardContainer:hover{
    transform: translateY(-10px);
}
.cardTitle{
    font-size: 20px;
    font-weight: bold;
}
.cardDesc{
    font-weight: 600;
    font-size: 13px;
}